header {
  -webkit- filter: blur(9px);
  filter: blur(9px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 20px 0;

}

p {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin: 20px 0;
}

.row {
  display: flex;
}

.col-4 {
  flex-basis: 33.3%;
}

.col-6 {
  flex-basis: 2;
}

.col-8 {
  flex-basis: 63.64%;
}

.container {
  padding: 0 20px;
}

.row {
  width: 1140px;
  margin: auto;
}

/**
  * Width: 1140;
  * Margin: 3%;
  */
.col-1 {
  float: left;
  width: 5.33333%;
  margin-right: 3%;
}

.col-2 {
  float: left;
  width: 13.66%;
  margin-right: 3%;
}

.col-3 {
  float: left;
  width: 21.99%;
  margin-right: 3%;
}

.col-4 {
  float: left;
  width: 30.23%;
  margin-right: 3%;
}

.col-5 {
  float: left;
  width: 38.65%;
  margin-right: 3%;
}

.col-6 {
  float: left;
  width: 46.98%;
  margin-right: 3%;
}

.col-7 {
  float: left;
  width: 55.31%;
  margin-right: 3%;
}

.col-8 {
  float: left;
  width: 63.64%;
  margin-right: 3%;
}

.col-9 {
  float: left;
  width: 71.97%;
  margin-right: 3%;
}

.col-10 {
  float: left;
  width: 80.3%;
  margin-right: 3%;
}

.col-11 {
  float: left;
  width: 88.63%;
  margin-right: 3%;
}

.col-12 {
  float: left;
  width: 100%;
  margin-right: 0%;
}
